/* body {
    background-color: rgb(42, 42, 42);
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "head head" "buss weather";
}

.elemBox {
    display: flex;
}

.date,
.bussHeader {
    margin: 5px;
}

.weather,
.busses {
    display: grid;
    grid-auto-rows: 30px;
}

.box {
    border: 2px solid white;
}

.weatherBox {
    grid-area: weather;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "date date" "weather weather";
}

.bussBox {
    grid-area: buss;
}

.elem {
    margin: 5px;
    display: flex;
    align-items: center;
}

.weatherElem {
    justify-content: center;
}

.bussElem {}

.weather {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.buss {
    display: grid;
    grid-template-columns: 50px auto;
}

.elem {
    margin: 3px;
} */

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.divider {
    grid-column: 1 / end 7;
}

.row {
    margin-bottom: 5px;
}

.start1 {
    grid-column-start: 1;
}

.start2 {
    grid-column-start: 2;
}

.start3 {
    grid-column-start: 3;
}

.start4 {
    grid-column-start: 4;
}

.start5 {
    grid-column-start: 5;
}

.start6 {
    grid-column-start: 6;
}

.start7 {
    grid-column-start: 7;
}

.end1 {
    grid-column-end: 1;
}

.end2 {
    grid-column-end: 2;
}

.end3 {
    grid-column-end: 3;
}

.end4 {
    grid-column-end: 4;
}

.end5 {
    grid-column-end: 5;
}

.end6 {
    grid-column-end: 6;
}

.end7 {
    grid-column-end: 7;
}